button {
	transition: 0.5s ease-in-out;
}

a {
	transition: 0.25s ease-in-out;
}

.wrapper {
	animation: slideIn 0.75s linear;
}

.selected {
	animation: fade 1.5s linear;
}

@keyframes slideIn {
	from {
		transform: translateX(-110%);
		opacity: 0;
	}

	to {
		transform: translate(0);
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 0.2;
	}

	to {
		opacity: 1;
	}
}
